:root {
  --main-bg-color: #fea49f;
  --grouping-color: #101357;
  --control-color: #00a0a0;
  --control-toggled: #007575;
  --highlight-color: #ffffff;

  --control-gap: 1vmax;
}

body {
    font-family: "Courier New", sans-serif;
    text-align: center;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.look-button{
    #margin: 0.25vmax;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 9vmax;
    max-height:30vmin;
    width: 9vmax;
    font-size:5vmax;
    background-color: var(--control-color);
    color:var(--highlight-color);

    cursor: pointer;
    user-select: none;
}

.container { 
    display: flex;
    flex-wrap: wrap;
    flex-align: flex-start;
}

.look-controls{
    position: fixed;
    bottom: 0;
    left: 0;
}

#@media (orientation: portrait) {
#}

@media (orientation: landscape) {
    .container { 
        padding-left: 33vw;
    }
}

.nine-way-grid{
    display: grid;
    grid-gap: var(--control-gap);
    max-height: 100vmin;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-self: flex-start;
    background-color: var(--grouping-color);
    border: var(--control-gap) solid;
    border-color: var(--grouping-color);
}

#.button, .cell{
#    border: medium solid;
#    border-radius: 10px;
#    min-height: 1em;
#    min-width: 1em;
#    font-size: xx-large;
#    #align-self: flex-start;
    
#}

.button {
    cursor: pointer;
    user-select: none;
}
.faces{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color:#F1D1B5;
    background-color: var(--grouping-color);
    border: var(--control-gap) solid;
    border-color: var(--grouping-color);
    gap: var(--control-gap);
}

.face{

    font-size:5vmax;
    padding: 2vmin;
    background-color: var(--control-color);
    color:var(--highlight-color);
    cursor: pointer;
    user-select: none;
}
