:root {
  --main-bg-color: #fea49f;
  --grouping-color: #101357;
  --control-color: #00a0a0;
  --control-toggled: #007575;
  --highlight-color: #ffffff;

  --control-gap: 1vmax;
  touch-action: none;
}

body {
    font-family: "Courier New", sans-serif;
    text-align: center;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.look-button{
    #margin: 0.25vmax;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 9vmax;
    max-height:30vmin;
    width: 9vmax;
    font-size:5vmax;
    background-color: var(--control-color);
    color:var(--highlight-color);

    cursor: pointer;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-align: flex-start;
    flex-direction: row;
    gap: var(--control-gap);
}

.look-controls{
    position: fixed;
    bottom: var(--control-gap);
    left: var(--control-gap);
}

#@media (orientation: portrait) {
#}

@media (orientation: landscape) {
    .container {
        padding-left: 33vw;
    }
}
.nine-way-grid{
    display: grid;
    grid-gap: var(--control-gap);
    max-height: 100vmin;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-self: flex-start;
    background-color: var(--grouping-color);
    border: var(--control-gap) solid;
    border-color: var(--grouping-color);
}
.button {
    cursor: pointer;
    user-select: none;
    border: 2vmin solid;
    border-color: var(--control-color);
    height: 7vmax;
    width: 7vmax;
    font-size:5vmax;
    background-color: var(--control-color);
    color:var(--highlight-color);
}
.faces{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color:#F1D1B5;
    background-color: var(--grouping-color);
    border: var(--control-gap) solid;
    border-color: var(--grouping-color);
    gap: var(--control-gap);
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
